.gallery-container{

    .wrap-title{
        display: flex;

        p{
            font-family: "Roboto Slab";
            margin: auto;
            margin-top: 30px; 
            color: $color-primary;
            font-size: 30px;
        }

    }

    .line{
        margin:  80px auto;
        width: 80px;
        height: 2px;
        background:$color-yellow;
    }

    .gallery{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 80px auto;

        .img-wrap{
            width: 310px;
            margin: 0 10;
            
            img{
                width: 100%;
                height: auto;
            }
        }

        .img-wrap.with-musk{
            background: #090909;
            position: relative;

            img.with-musk{
                opacity: 0.23;
            }

            .img-banner{
                color: $color-secondary;
                display: flex;
                flex-direction: column;
                justify-content: center;
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
                
                p.text-bold{
                    font-family: "Roboto Slab";
                    font-weight: 700;
                    margin: 17 auto;
                }

                p.text-normal{
                    font-family: "Roboto";
                    font-weight: 300;
                    font-size: 16px;
                    margin: 0 auto;
                }

                div.line{
                    height: 2px;
                    color: $color-yellow;
                    margin: 17 auto;
                    width: 60px;
                }
            }
        }

    }

    .btn-wrap{
        display: flex;
        margin-bottom: 80px;

        .btn{
            margin: 0 auto;
            width: 310px;
            color: $color-red;
            font-size: 24px;
            font-family: "Roboto";
            font-weight: 700;
            height: 58px;
            border: 3px solid $color-primary;
            background: $color-secondary;
        }
    }
}

@media(max-width: 732px){
    .gallery-container .gallery{
        width: 90%;
        flex-direction: column;

        .img-wrap{
            width: 370px;
            margin: 10 auto;
        }
    }
}

@media (max-width: 502px){
    .gallery-container .gallery .img-wrap{
        width: 300px;
    }

    .gallery-container .btn-wrap .btn{
        width: 300px;
    }
}

@media (max-width: 402px){
    .gallery-container .gallery .img-wrap{
        width: 270px;
    }

    .gallery-container .btn-wrap .btn{
        width: 270px;
    }

    .gallery-container .wrap-title p{
        font-size: 25px;
    }
}