.gallery-container{

    .wrap-title{
        display: flex;

        p{
            font-family: "Roboto Slab";
            margin: auto;
            margin-top: 30px; 
            color: $color-primary;
            font-size: 30px;
        }

    }

    .line{
        margin:  80px auto;
        width: 80px;
        height: 2px;
        background:$color-yellow;
    }

    .gallery{
        width: 80%;
        display: flex;
        justify-content: space-around;
        margin: 80px auto;

        .img-wrap{
            width: 310px;
            margin: 0 10;

            img{
                width: 100%;
                height: auto;
            }
        }

    }

    .btn-wrap{
        display: flex;
        margin-bottom: 80px;

        .btn{
            margin: 0 auto;
            width: 310px;
            color: $color-red;
            font-size: 24px;
            font-family: "Roboto";
            font-weight: 700;
            height: 58px;
            border: 3px solid $color-primary;
            background: $color-secondary;
        }
    }



    

}