
$color-red: #BB4343; 
$color-orange: #D87843;
$color-yellow: #EFAB4B;
$color-bg: #F7F7F7;
$color-primary: #222;
$color-secondary: #FFF;



$font-light: 'Roboto', 300;
$font-regular: 'Roboto', 400;
$font-bold: 'Roboto', 700;
$font-slab-bold: 'Roboto Slab';